/** Insert your code here **/
ul li {
	color: red !important;
}

.impar tr:nth-child(2n + 1) {
	background-color: yellow;
}

ol li:nth-child(2) {
	background: green;
}

/*********** READ ONLY BLOCK ******
You CAN NOT UPDATE anything from here on,
only add lines of code on top of this lines
**/

body {
	color: blue;
}

ul li,
ol li {
	color: green;
}
